<header class="panel-cover panel-cover--collapsed" style="background-image: url(/assets/images/background-cover.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="{{ site.url }}" title="link to homepage for {{ site.title }}"><img src="{{ site.blog_logo }}" width="80" alt="{{ site.title }} logo" class="panel-cover__logo logo" /></a>
        <h1 class="panel-cover__title panel-title"><a href="{{ site.url }}" title="link to homepage for {{ site.title }}">{{ site.name }}</a></h1>
        <span class="panel-cover__subtitle panel-subtitle">Software Engineer</span>
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />

        <div class="navigation-wrapper">

          {% include social.html %}

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>