---
layout: default
---

<article class="post-container post-container--single">

  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ site.time | date_to_string }}" class="post-meta__date date">{{ page.date | date_to_string }}</time> &#8226; <span class="post-meta__tags tags"></span>
      <!--<span class="post-meta__author author"><img src="{{author.image}}" alt="profile image for {{author.name}}" class="avatar post-meta__avatar" /> by {{author.name}}</span>-->
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="{{post_class}}">
    {{ content }}
  </section>

</article>
